/***********/
/* FORMS.SCSS */
/***********/

.ninja-forms-form-wrap label {
	@include span-columns(2);
	color: $brand-80-gray;
	font-family: "source-sans-pro",sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: 300;
	margin: 0 0 1em 0;
}

.text-wrap.label-above input, 
.text-wrap.label-below input, 
.text-wrap.label-inside input, 
.textarea-wrap.label-above textarea, 
.textarea-wrap.label-below textarea, 
.textarea-wrap.label-inside textarea, 
.list-dropdown-wrap.label-above select,
.list-dropdown-wrap.label-below select {
	@include span-columns(4);
	@include omega();
	height: 30px;
}