/***********/
/* TYPE.SCSS */
/***********/

h1 {
	color: white;
	font-family: "proxima-nova",sans-serif;
	font-size: 4em;
	font-style: normal;
	font-weight: 100;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	font-family: "proxima-nova",sans-serif;
	font-size: 3em;
	font-style: normal;
	font-weight: 100;
	line-height: .9em;
	text-transform: uppercase;
	margin: 0;
}

 h3 {
	color: $brand-teal;
	font-family: "minion-pro",serif;
	font-style: italic;
	font-size: 1.5em;
	font-weight: 400;
	text-transform: uppercase;
}

h5 {
	color: $brand-teal;
	font-family: "proxima-nova",sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: 400;
}

h6 {
	color: white;
	font-family: "source-sans-pro",sans-serif;
	font-size: 1.5em;
	font-style: normal;
	font-weight: 300;
	margin: 0 0 1em 0;
}

p {
	font-family: "source-sans-pro",sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: 300;
	margin: 0 0 1em 0;
}

li {
	font-family: "source-sans-pro",sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: 300;
	margin: 0 0 .5em 0;
}

a.more {
	color: $brand-teal;
	font-family: "minion-pro",serif;
	font-style: italic;
	font-size: 1.25em;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;

	i {
		background-color: $brand-purple;
		border-radius: 5px;
		color: white;
		font-size: .8em;
		margin: 0 2em 0 .5em;
		padding: 7px 10px 5px 10px;
	}
}

a.more.white {
	color: white;

	i {
		background-color: white;
		color: $brand-purple;
	}
}